In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))
import os
%load_ext autoreload
%autoreload 2

In [2]:
import warnings
import numpy as np
import pandas as pd
import yaml
import altair as alt
import matplotlib.pyplot as plt
plt.style.use('bmh')

alt.renderers.enable('default')

RendererRegistry.enable('default')

In [4]:
!ls

helper_scripts              weather_data_api.ipynb
temp.csv                    weather_data_scraping.ipynb
temp.pkl

# 0) City IDs

In [205]:
city_data = pd.read_csv('../datasets/weather/city_ids.csv', sep='\t')
us_city_data = city_data[city_data.countryCode=='US'].reset_index(drop=True).copy()
#us_city_data_final = us_city_data.groupby(['nm']).agg({'id': 'first'}).reset_index().copy()
print(us_city_data.shape)
us_city_data.head(2)

(11731, 5)

        id             nm        lat         lon countryCode
0  7262440  Valencia West  32.132381 -111.114143          US
1  5495380       Tularosa  33.073971 -106.018600          US

In [274]:
from geopy.geocoders import Photon
from geopy.exc import GeocoderUnavailable, GeocoderTimedOut

def get_location_details(row: pd.Series, pause_duration: float) -> pd.Series:
    
    try:
        coord = f"{row['lat']}, {row['lon']}"
        
        location = geolocator.reverse(coord, exactly_one=True, limit=1, timeout=pause_duration)

        if location:
            address = location.raw.get('properties', {})
            city = address.get('city') or address.get('town') or address.get('village') or address.get('district')    
            state = address.get('state')
            zipcode = address.get('postcode')
        else:
            city = None
            state = None
            zipcode = None
        return pd.Series([location, city, state, zipcode])
    except (GeocoderUnavailable, GeocoderTimedOut) as e:
        location = None
        city = None
        state = None
        zipcode = None
        return pd.Series([location, city, state, zipcode])
    finally:
        time.sleep(pause_duration)

In [286]:
from geopy.extra.rate_limiter import RateLimiter
geolocator = Nominatim(user_agent="Nancy Amandi", timeout=10) 
rgeocode = RateLimiter(geolocator.reverse, min_delay_seconds=0.1)

temp = us_city_data.copy()
print(temp.shape)
temp['coordinates'] = temp.apply(lambda x: str(x.lat) + ", " + str(x.lon), axis=1)

(11731, 5)

In [ ]:
%%time
temp['location'] = temp["coordinates"].apply(rgeocode)

In [5]:
test = pd.read_pickle('temp.pkl')
test.head(2)

,id,nm,lat,lon,countryCode,coordinates,location
0,7262440,Valencia West,32.132381,-111.114143,US,"32.132381, -111.114143","(West Valencia Road, Valencia West, Pima Count..."
1,5495380,Tularosa,33.073971,-106.018600,US,"33.073971, -106.0186","(801, Saint Francis Drive, Tularosa, Otero Cou..."
2,5301442,Lake of the Woods,34.163929,-109.989548,US,"34.163929, -109.989548","(3120, West White Mountain Boulevard, Lakeside..."
3,4190542,Dahlonega,34.532589,-83.984909,US,"34.532589, -83.984909","(Dahloenga Historic Gold Meusem, Public Square..."
4,5322400,Adelanto,34.582771,-117.409218,US,"34.582771, -117.409218","(11715, Lee Avenue, Adelanto, San Bernardino C..."
...,...,...,...,...,...,...,...
11726,7262905,Lakes,61.607121,-149.308609,US,"61.607121, -149.308609","(5699, East Rosebud Court, Cottonwood Shires, ..."
11727,7728581,Shorewood Forest,41.463150,-87.144722,US,"41.46315, -87.144722","(370, Shorewood Court, Valparaiso, Porter Coun..."
11728,7728582,Woodlake,37.421059,-77.679314,US,"37.421059, -77.679314","(Silver Birch Lane, Silver Birch, Woodlake, Ch..."
11729,7729502,Doe Valley,37.956650,-86.116531,US,"37.95665, -86.116531","(Doe Valley West Drive, Meade County, Kentucky..."
11730,8260172,West Greenwich,41.637001,-71.660042,US,"41.637001, -71.660042","(West Greenwich, Kent County, Rhode Island, 02..."

# 1) Get Site Data

In [ ]:
import sys
sys.path.append('helper_scripts/')
import weather_scraping_helper

In [3]:
city_id = '4140963'
url = f'https://openweathermap.org/city/{city_id}'
url

'https://openweathermap.org/city/4140963'

In [4]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from webdriver_manager.chrome import ChromeDriverManager

In [169]:
#path_to_drive = '../../../Downloads/chromedriver_mac64/chromedriver'
loc_to_drive = ChromeDriverManager().install()
cService = webdriver.ChromeService(loc_to_drive)
driver = webdriver.Chrome(service = cService)
driver

In [170]:
dc_id = "4140963"
miami_id = "4164138"
stowe_id = "5214449"
driver.get(f"https://openweathermap.org/city/{dc_id}");

In [ ]:
# enter city id
# choose temperature unit and update the site
# get current temperature
# weather alert
# get 8-day forecast
# get if there's precipitation

In [165]:
df = weather_scraping_helper.get_8_day_forecast(driver)
df

   day     day_date       temp  rain_cloud_pred
0    1  Tue, Sep 24  22 / 14°C  overcast clouds
1    2  Wed, Sep 25  21 / 16°C    moderate rain
2    3  Thu, Sep 26  26 / 19°C    moderate rain
3    4  Fri, Sep 27  23 / 17°C       light rain
4    5  Sat, Sep 28  25 / 15°C  overcast clouds
5    6  Sun, Sep 29  25 / 13°C        clear sky
6    7  Mon, Sep 30  24 / 14°C  overcast clouds
7    8  Tue, Oct 01  21 / 14°C       light rain

In [ ]:
get_precipitation_information(driver)

In [177]:
color_scale_path = "/html/body/main/div[2]/div[3]/div[1]/div[2]/div/a/div/div/div[2]/ul"
color_scale = driver.find_element("xpath", color_scale_path)
color_scale

In [142]:

for ind, elem in enumerate(color_scale.find_elements("xpath", "*")):
    rgba_str = elem.value_of_css_property("background-color")
    rgba_values = rgba_str.replace('rgba(', '').replace(')', '')
    rgba_list = [val.strip() for val in rgba_values.split(',')]
    
    rgb = tuple(map(int, rgba_list[:3]))  # First three values are RGB, convert to integers
    grade = float(rgba_list[3])
    print(rgb, grade)

(181, 254, 225) 1.0
(100, 252, 191) 1.0
(0, 250, 150) 1.0
(0, 250, 100) 1.0
(0, 250, 100) 1.0
(0, 230, 0) 1.0
(0, 211, 0) 1.0
(0, 211, 0) 1.0
(0, 186, 0) 1.0
(0, 186, 0) 1.0
(0, 211, 0) 1.0
(0, 211, 0) 1.0
(0, 250, 100) 1.0
(0, 250, 150) 1.0
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33
(72, 72, 74) 0.33

In [125]:
t.value_of_css_property("background-color")

'rgba(181, 254, 225, 1)'